In [2]:
# Loading the library with the iris dataset
from sklearn.datasets import load_iris
# Loading scikit's randomforest classifier library
from sklearn.ensemble import RandomForestClassifier
#loading pandas
import pandas as pd
#loading numpy
import numpy as np
#seeting random seed
np.random.seed(0)

In [10]:
#creating an object called iris with the iris data
iris = load_iris()
#print(iris)
#craeting a data frame with foure featur variables
df = pd.DataFrame(iris.data,columns=iris.feature_names)
#df.head()
#Adding a new column for the species name
df['species'] = pd.Categorical.from_codes(iris.target,iris.target_names)
#Creating the Test and Train data randomly
df['is_train'] = np.random.uniform(0,1,len(df)) <= .75
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True

In [11]:
#Creating adataframe with test rows and training rows
train,test = df[df['is_train']==True], df[df['is_train']==False]
#Show the number of observations for the test and training dataframes
print('Numbe of observations in the training dataset:',len(train))
print('Numbe of observations in the test dataset:',len(test))
#Creating the list of the feature column's names
features = df.columns[:4]
print(features)

Numbe of observations in the training dataset: 119
Numbe of observations in the test dataset: 31
Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [12]:
#Converting each species into digits
y=pd.factorize(train['species'])[0]
#Creating Random ForestClassifier 
clf = RandomForestClassifier(n_jobs=2,random_state=0)
#Training the classifier
clf.fit(train[features],y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [25]:
#Applying the trained classifier to the test
clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [26]:
#Viewing  the predicted probabilities of the first 10 observations
clf.predict_proba(test[features])[0:10]

array([[1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [0.95, 0.05, 0.  ]])

In [15]:
#mapping names for thr plans for each plant class
preds = iris.target_names[clf.predict(test[features])]
#view thr predicted species for the first five observations
preds[0:5]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa'], dtype='<U10')

In [16]:
#view the Actual species for the five first observation
test['species'].head()

12    setosa
19    setosa
23    setosa
24    setosa
25    setosa
Name: species, dtype: category
Categories (3, object): [setosa, versicolor, virginica]

In [17]:
#creating confusion matrix
pd.crosstab(test['species'],preds,rownames=['Actual Species'],colnames=['Predicted Species'])

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                 12           0          0
versicolor              0           7          0
virginica               0           1         11

In [24]:
#Predicting for new dataset
preds = iris.target_names[clf.predict( [[9.0,3.6,7.4,7.0],[5.0,3.6,1.4,2.0]])]
preds

array(['virginica', 'setosa'], dtype='<U10')